.centered-form{
	margin-top: 200px;
}

.centered-form .panel{
	background: #2A3C44;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.centered-form .panel-heading{
	background: #2A3C44;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.valueColorIns::content{
	color:white;
    background-color: #30444E;
	
}

#inscriptionPanel
{
    visibility: collapse;
}

#textInscription:hover
{
    color: blue;
}