<!--- Navbar --->
<nav>
  <ul class="liste-nav">
    <li class="item-nav">
      <i class="fa fa-home fa-fw mr-1 fa-2x"></i>
    </li>
    <li class="item-nav">
      <i class="fas fa-heart fa-2x"></i>
    </li>
    <li class="item-nav">
      <img src="../assets/inLineLogo.png" alt="">
    </li>
    <li class="item-nav">
      <a routerLink="pageProduits">
        <i class="fas fa-shopping-bag fa-2x"></i>
      </a>
    </li>
    <li class="item-nav">
      <a href="">
        <i class="fas fa-user fa-2x"></i>
    </a>
    </li>
  </ul>
</nav>
<!--# Navbar #-->

<router-outlet></router-outlet>
