<!--- Navbar --->
<nav class="navbar navbar-expand">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <img src="../assets/inLineLogo.png">
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink=""><i class="fa fa-home fa-fw mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pageProduits"><i class="fas fa-shopping-bag"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pageInscription"><i class="fas fa-user"></i></a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!--# Navbar #-->

<router-outlet></router-outlet>
