.cardSize
{
    width: 23.5%;
    /* margin: auto; */
    margin-top: 10px;
    margin-left: 15px;
}

#rechercheProduit
{
    background-color: #1A282F ;
    text-decoration: greenyellow;
}

#rechercheProduit::placeholder
{
    color: #909ba1; /* couleur du placeholder */
}

#boutonVendre
{
    background-color: #3ED598;
}

.valueColorIns::content{
	color:white;
    background-color: #2A3C44;
	
}

.modal-body{
    background-color: #30444E;

}

.modal-header{
    background-color: #2A3C44;
    
}

.form-label{
    color: white;
}


