<div class="container p-4" id="barreAuDessusProduit">
    <section class="row g-3">
        <!-- ************** RECHERCHE MOT CLE AVEC TWO WAY BINDING *************** -->
        <article class="col-8 col-md-10 col-lg-10">
            <input class="btn-lg" id="rechercheProduit" type="search" name="search" [(ngModel)]="motCle"
                (ngModelChange)="rechercheMotCle()" placeholder="rechercher un produit">
        </article>
        <!-- ******************* BOUTON VENDRE ****************** -->
        <article class="col-4 col-md-2 col-lg-2">
            <button type="button" class="btn-lg" id="boutonVendre" data-bs-toggle="modal" data-bs-target="#ModalForm">
                Vendre un produit </button>
        </article>
    </section>

</div>
<!-- ********** FIN BOUTON ET RECHERCHE ************* -->

<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- *************************** MODAL ACTIF **************************** -->
            <div class="modal-header">
                <h5 class="modal-title text-white" id="ModalFormLabel">Nouveau produit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="col" (ngSubmit)="creationProduit(nouveauProduit)" #nouveauProduit="ngForm">
                    <!-- ************************ CONTENU MODAL ***************************** -->
                    <div class="row">
                        <article class="col-xs-6 col-sm-6 col-md-6">
                            <label class="form-label">Nom</label>
                            <input type="text" class="valueColorIns form-control" name="nomProduits" ngModel required
                                minlength="3" maxlength="1000">
                        </article>
                        <article class="col-xs-6 col-sm-6 col-md-6">
                            <label class="form-label">Catégorie</label>
                            <input type="text" class="valueColorIns form-control" name="categorie" ngModel required
                                minlength="3" maxlength="1000">
                        </article>
                        <article class="col-xs-6 col-sm-6 col-md-6">
                            <label class="form-label">Quantité</label>
                            <input type="number" class="valueColorIns form-control" name="quantite" ngModel required
                                minlength="3" maxlength="1000">
                        </article>
                        <article class="col-xs-6 col-sm-6 col-md-6">
                            <label class="form-label">Prix</label>
                            <input type="number" class="valueColorIns form-control" name="prix" ngModel required
                                minlength="3" maxlength="1000">
                        </article>
                    </div>
                    <article class="mb-3">
                        <label class="form-label">Marque</label>
                        <input type="text" class="valueColorIns form-control" name="marque" ngModel required
                            minlength="3" maxlength="1000">
                    </article>
                    <article class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="valueColorIns form-control" name="detaille" rows="3" ngModel required
                            minlength="3" maxlength="1000"></textarea>
                    </article>

                    <article class="mb-3">
                        <label class="form-label">Photo</label>
                        <br>
                        <input type="file" id="imageProduit" name="imageProduit" accept="image/png, image/jpeg" ngModel>
                    </article>

                    <div class="text-center">
                        <button type="submit" class="btn-sm" id="boutonVendre" data-bs-dismiss="modal">Submit</button>
                    </div>
                </form>
                <!-- ******************** FIN DU CONTENU **************************** -->
            </div>
        </div>
    </div>
</div>
<!-- ********************** FIN MODAL ********************* -->

<div class="container ">
    <section class="row">
        <article class="col-4 col-md-4 col-lg-4 rounded cardSize"
            *ngFor="let iter of listeDesProduits._embedded.produits"
            [ngStyle]="{'background-color': couleurCardProduit(iter.id)}">
            <!-- col-12 col-md-6 col-lg-4 mb-3-->
            <div class="card spacing bg-transparent">
                <!--création de notre card -->
                <img src={{iter.imageProduit}} class="img-fluid rounded-start" alt="image du produits">
                <section class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{iter.nomProduits}}</h5>
                        <p class="card-text">{{iter.detaille}}</p>
                         <button class="far fa-eye" id="btnDetailProduit" (click)="recuperationDesData(iter)"
                            data-bs-toggle="modal" data-bs-target="#PopupDetaileProduit"> </button>
                    </div>
                </section>
            </div>
        </article>
    </section>

    <div class="modal" id="PopupDetaileProduit" tabindex="-1">
        <div class="modal-dialog modal-lg" id="detailProduit">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Description du produit {{produitsModifie.nomProduits}} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section id="coteGauchePanelVisuProduit">
                        <div class="input-group mb-3">
                            <!-- <a class="fas fa-user"></a> -->
                            <input name="vendeurProduit" readonly class="form-control form-control-lg valueColorIns"
                                value={{NomPrenomVendeur}}>
                        </div>

                        <div class="input-group mb-3">
                            <input name="categorieProduit" readonly class="form-control form-control-lg valueColorIns"
                                value={{produitsModifie.categorie}}>
                        </div>

                        <div class="input-group mb-3">
                            <input name="jeSaisPas" readonly class="form-control form-control-lg valueColorIns"
                                value={{produitsModifie.marque}}>
                        </div>

                        <div class="input-group mb-3">
                            <textarea name="descriptionProduit" readonly class="form-control valueColorIns" rows="5"
                                value={{produitsModifie.detaille}}></textarea>
                        </div>

                    </section>

                    <article id="coteDroitPanelVisuProduit">
                        <img src={{produitsModifie.imageProduit}} id="imageProduit">
                    </article>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary valueColorIns"
                        data-bs-dismiss="modal">{{produitsModifie.prix}}€</button>
                    <button type="button" class="btn btn-primary valueColorIns" data-bs-dismiss="modal">Ajouter au
                        panier</button>
                </div>
            </div>
        </div>
    </div>

</div>

<nav class="container p-4">
    <ul class="pagination">
        <li class="page-item">
            <button (click)="affichageProduit()" class="page-link">1</button>
        </li>
        <li class="page-item">
            <button  (click)="deuxiemePage()" class="page-link">2</button>
        </li>
    </ul>
</nav>