<div class="accueil">
  <strong class="titre-accueil">LesBonnesRef qu'est-ce que c'est ?</strong>
  <div class="container-texte-accueil">
    <div class="container-accueil-photo">
      <img src="../../../assets/imgaccueil/hannah-gibbs-VChzTLPcPBA-unsplash.jpg" alt="DE" class="img1">
      <img src="../../../assets/imgaccueil/samuel-regan-asante-E6lL_2IpaR8-unsplash.jpg" alt="DE" class="img2">
      <img src="../../../assets/imgaccueil/jaron-mobley-lQAFJU417fA-unsplash.jpg" alt="DE" class="img3">
      <img src="../../../assets/imgaccueil/omar-rodriguez-Xa_bz7LfL2c-unsplash.jpg" alt="DE" class="img4">
      <img src="../../../assets/imgaccueil/kelly-sikkema--2eCmyswP0E-unsplash.jpg" alt="DE" class="img5">
      <img src="../../../assets/imgaccueil/harold-wainwright-Bqip9io1wgg-unsplash.jpg" alt="DE" class="img6">
      <img src="../../../assets/imgaccueil/tim-hufner-MqWeiOCd6ms-unsplash.jpg" alt="DE" class="img7">
    </div>
    <p class="text-accueil">
      C'est tout simplement un site de commerce en ligne sécurisé. Vous pourrez vendre et acheter les articles dans les
      différentes catégories. Aujourd'hui, nous lançons la 1ère version de notre site. Sachez que nous faisons des mise
      à jour régulière afin de vous apporter une expérience hors du commun.</p>
    <button class="btn-accueil" routerLink="/pageInscription">S'inscrire</button>
  </div>
</div>
<div class="contenucacher">

</div>
