<div class="accueil">
  <strong class="titre-accueil">LesBonnesRef qu'es-ce que c'est ?</strong>
  <div class="container-texte-accueil">
    <div class="container-accueil-photo">
      <img src="../../../assets/imgaccueil/hannah-gibbs-VChzTLPcPBA-unsplash.jpg" alt="DE" class="img1">
      <img src="../../../assets/imgaccueil/samuel-regan-asante-E6lL_2IpaR8-unsplash.jpg" alt="DE" class="img2">
      <img src="../../../assets/imgaccueil/jaron-mobley-lQAFJU417fA-unsplash.jpg" alt="DE" class="img3">
      <img src="../../../assets/imgaccueil/omar-rodriguez-Xa_bz7LfL2c-unsplash.jpg" alt="DE" class="img4">
      <img src="../../../assets/imgaccueil/kelly-sikkema--2eCmyswP0E-unsplash.jpg" alt="DE" class="img5">
      <img src="../../../assets/imgaccueil/harold-wainwright-Bqip9io1wgg-unsplash.jpg" alt="DE" class="img6">
      <img src="../../../assets/imgaccueil/tim-hufner-MqWeiOCd6ms-unsplash.jpg" alt="DE" class="img7">
    </div>
    <p class="text-accueil">iusto officia praesentium alias? Repellendus non maiores provident voluptas quas quam voluptatibus. Laborum magnam porro accusantium autem hic perferendis obcaecati, minus iusto ducimus, recusandae nam tenetur saepe in. Magni eaque corrupti voluptatum assumenda?</p>
  <button class="btn-accueil">S'inscrire</button>
  </div>
</div>
