.container
{
    margin-top: 6%;
}

/******************************************* tableau *******************************************/
.table
{
    opacity:0.80;
}

/******************************************* élément du tableau *******************************************/
.imageProduit
{
    /* redimensionnement de l'image du produit */
    max-width: 50%; 
    max-height: 30%; 
}

.boutonInvisible
{
    background: transparent;
    border: none;
}


